body {
    min-height: 100vh;
}

.root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    div {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.container {
    width: 100%;
    grid-column: span 1;

    .svg {
        width: 90%;
    }
}



ul {
    list-style-type: none;
}